*.swp
*.pdf
*.mobi

# kdiff3 ignore
*.orig

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# system ignore
.DS_Store
Thumbs.db


# gitbook
_book
plantuml.jar
node_modules

# plantuml
/assets/images/uml/*.svg
/assets/images/uml/*.png
!docs/assets/images/uml/*.svg
!docs/assets/images/uml/*.png

